PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/scentStory
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=30d
NODE_ENV=development
ADMIN_USERNAME=admin_username
ADMIN_EMAIL=example@scentstory.com
ADMIN_PASSWORD=admin_secure_password_here